<!-- 上方標題-->
<div class="gridmag-header-inside-content customer-gridmag-head-content clearfix">
    <div class="gridmag-logo">
      <div class="site-branding">
        <p class="gridmag-site-home-title">
          <a href="#" rel="home">仙草奶綠-程式部落格</a>
        </p>
        <p class="gridmag-site-description">
          <span class="text-dark">分享程式代碼相關筆記</span></p>
      </div>
    </div>
</div>
<section class="top-nav">
  <a class="navbar-brand px-5 mr-0 wshadow" href="{{ site.url }}">首頁</a>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.url }}">最新文章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{'/history.html' | prepend: site.baseurl}}">歷史文章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{'/summary.html' | prepend: site.baseurl}}">主題分類文章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{'/skilltree.html' | prepend: site.baseurl}}">Skill Tree</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="{{'/about.html' | prepend: site.baseurl}}">關於作者</a>
    </li> -->
  </ul>
</section>

<!-- 中間橫幅資訊-->
<h2 class="gridmag-header-heading ">
  <div class="gridmag-header-heading-inside">
    <!--找出今天以前的資料-->
    {% assign today = site.time | date: '%s' | plus: 0 %}
    {% assign filtered_posts = "" | split: "" %}
    {% for post in site.posts %}
      {% assign post_date = post.date | date: '%s' | plus: 0 %}
        {% if post_date <= today %}
          {% assign filtered_posts = filtered_posts | push: post %}
        {% endif %}
    {% endfor %}

    
    <p> 目前文章總數：{{ filtered_posts | size }} 篇 </p>
    &emsp;&emsp;
    {% for post in filtered_posts limit:1 %}
    <p> 最後更新：{{ post.date | date: "%Y年 %m月 %d日" }} </p>
    {% endfor %}
  </div>
</h2>