<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: gainsboro;
  }

  .column {
    flex: 1;
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    white-space: pre-line;
  }


</style>

<h2>物品清單</h2>
  <div class="container">
    <div class="left-panel">
      <div class="buttons">
        <select id="category" onchange="changeCategory()">  
        </select>
        <select id="items" onchange="changeItems()">  
        </select>
        <button onclick="addItem()">新增</button>
      </div>
    </div>
    <div class="right-panel">
      <table>
        <thead>
          <th>物品名稱：</th>
          <th>價格：</th>
          <th>占用手：</th>
        </thead>

        <tr class="top-row">
          <td class="column"><span id="colName"></span></td>
          <td class="column"><span id="colPrice"></span></td>
          <td class="column"><span id="colHold"></span></td>
        </tr>        
        <tr class="bottom-row">
          <td colspan="3"  id="colbottom">
            <!-- Content for the bottom row -->
          </td>
        </tr>
      </table>
    </div>
    <!-- 表格 -->
    <br>
    <br>
    <div>
      <table id="itemTable">
        <thead>
          <tr>
            <th>道具名稱</th>
            <th>價格</th>      
          </tr>
        </thead>
        <tbody id="itemTableBody">
          <!-- 這裡將新增的物品放入 -->
        </tbody>
      </table>
    </div>
  </div>


<script>

//#region 資料集合

// 種類
var categories = {
  'weapon': '武器',
  'armor': '盔甲、盾牌',
  'item': '道具'
};

// 武器表
var weapons = {
  'weapon1': { name: '武器1', price: '100', hold: '1', description: '這是物品1的說明' , isCanAdd: false },
  'weapon2': { name: '武器2', price: '150', hold: '1', description: '這是物品2的說明' , isCanAdd: true},
  'weapon3': { name: '武器3', price: '200', hold: '1', description: '這是物品3的說明' , isCanAdd: true }
};

// 盔甲表
var armors = {
  'noArmor': {
    name: '無護甲',
    price: '-',
    hold: '-',
    isCanAdd: false,
    description: 'AC加值：+0 \n 敏捷上限：- ▉ 檢定減值：- ▉ 速度減值：- ▉ 負載：- ▉ 護甲組：- ▉ 護甲特徵：-'
  },
  'explorerClothing': {
    name: '探險者服裝',
    price: '1sp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+0 <br> 敏捷上限：+5 ▉ 檢定減值：- ▉ 速度減值：- ▉ 負載：L ▉ 護甲組：布料 ▉ 護甲特徵：舒適'
  },
  'paddedArmor': {
    name: '布甲',
    price: '2sp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+1 ▉ 敏捷上限：+3 ▉ 檢定減值：- ▉ 速度減值：- ▉ 力量：10 ▉ 負載：10 ▉ 護甲組：布料 ▉ 護甲特徵：舒適'
  },
  'leatherArmor': {
    name: '皮甲',
    price: '2gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+1 ▉ 敏捷上限：+4 ▉ 檢定減值：-1 ▉ 速度減值：- ▉ 力量：10 ▉ 負載：10 ▉ 護甲組：皮甲 ▉ 護甲特徵：-'
  },
  'studdedLeatherArmor': {
    name: '鑲嵌皮甲',
    price: '3gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+2 ▉ 敏捷上限：+3 ▉ 檢定減值：-1 ▉ 速度減值：- ▉ 力量：12 ▉ 負載：12 ▉ 護甲組：皮甲 ▉ 護甲特徵：-'
  },
  'chainShirt': {
    name: '鍊甲衫',
    price: '5gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+2 ▉ 敏捷上限：+3 ▉ 檢定減值：-1 ▉ 速度減值：- ▉ 力量：12 ▉ 負載：12 ▉ 護甲組：鍊甲 ▉ 護甲特徵：柔韌，嘈雜'
  },
  'hideArmor': {
    name: '革甲',
    price: '2gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+3 ▉ 敏捷上限：+2 ▉ 檢定減值：-2 ▉ 速度減值：-5尺 ▉ 力量：14 ▉ 負載：14 ▉ 護甲組：皮甲 ▉ 護甲特徵：-'
  },
  'scaleMail': {
    name: '鱗甲',
    price: '4gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+3 ▉ 敏捷上限：+2 ▉ 檢定減值：-2 ▉ 速度減值：-5尺 ▉ 力量：14 ▉ 負載：14 ▉ 護甲組：複合甲 ▉ 護甲特徵：-'
  },
  'chainMail': {
    name: '鍊甲',
    price: '6gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+4 ▉ 敏捷上限：+1 ▉ 檢定減值：-2 ▉ 速度減值：-5尺 ▉ 力量：16 ▉ 負載：16 ▉ 護甲組：鍊甲 ▉ 護甲特徵：柔韌，嘈雜'
  },
  'breastplate': {
    name: '胸甲',
    price: '8gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+4 ▉ 敏捷上限：+1 ▉ 檢定減值：-2 ▉ 速度減值：-5尺 ▉ 力量：16 ▉ 負載：16 ▉ 護甲組：板甲 ▉ 護甲特徵：-'
  },
  'splintMail': {
    name: '板條甲（1級）',
    price: '13gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+5 ▉ 敏捷上限：+1 ▉ 檢定減值：-3 ▉ 速度減值：-10尺 ▉ 力量：16 ▉ 負載：16 ▉ 護甲組：複合甲 ▉ 護甲特徵：-'
  },
  'halfPlate': {
    name: '半身甲（1級）',
    price: '18gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+5 ▉ 敏捷上限：+1 ▉ 檢定減值：-3 ▉ 速度減值：-10尺 ▉ 力量：16 ▉ 負載：16 ▉ 護甲組：板甲 ▉ 護甲特徵：-'
  },
  'fullPlate': {
    name: '全身甲（2級）',
    price: '30gp',
    hold: '-',
    isCanAdd: true,
    description: 'AC加值：+6 ▉ 敏捷上限：+0 ▉ 檢定減值：-3 ▉ 速度減值：-10尺 ▉ 力量：18 ▉ 負載：4 ▉ 護甲組：板甲 ▉ 護甲特徵：壁壘'
  }
};



// 道具表
var items = {
  'item1': { name: '道具1', price: '100', hold: '1', description: '這是物品1的說明' , isCanAdd: false },
  'item2': { name: '道具2', price: '150', hold: '1', description: '這是物品2的說明' , isCanAdd: true},
  'item3': { name: '道具3', price: '200', hold: '1', description: '這是物品3的說明' , isCanAdd: true }
};

//#endregion

//#region 初始化配置

//1. 初始種類
var selectCategoryElement = document.getElementById('category');
for (var key in categories) {
  if (categories.hasOwnProperty(key)) {
    var option = document.createElement('option');
    option.value = key;    
    option.text = categories[key];
    selectCategoryElement.add(option);
  }
}

//2. 道具
var selectElement = document.getElementById('items');
var firstItem = false;
for (var key in weapons) {
  if (weapons.hasOwnProperty(key)) {
    var option = document.createElement('option');
    option.value = key;
    option.text = weapons[key].name;
    
    if(firstItem == false) {
      option.selected = true;
      firstItem = true;
      document.getElementById("colName").textContent = weapons[key].name;
      document.getElementById("colPrice").textContent = weapons[key].price;
      document.getElementById("colHold").textContent = weapons[key].hold;
      document.getElementById("colbottom").textContent = weapons[key].description;
    }

    selectElement.add(option);
  }
}

//3. 選擇第一個道具顯示
//var selectElementFirstItem = document.getElementById('yourSelectElementId'); // 替換為實際的<select>元素ID
// 找到當前被選中的<option>
//var selectedFirstOption = selectElementFirstItem.querySelector('option[selected]');





//#endregion

// 更新種類時替換對應物品
function changeCategory() {
  var selectCategoryElement = document.getElementById('category').value;    
  if(selectCategoryElement == 'weapon') {
    addWeaponList();
  }
  else if(selectCategoryElement == 'armor') {
    addArmorList();
  }
  else if(selectCategoryElement == 'item') {
    addItemsList();
  }
}

function changeItems() {
  var selectCategoryElement = document.getElementById('category').value;    
  if(selectCategoryElement == 'weapon') {
    showWeapon();
  }
  else if(selectCategoryElement == 'armor') {
    showArmor();
  }
  else if(selectCategoryElement == 'item') {
    showItem();
  }
}


function addItem() {
  // 獲取選擇的物品資訊  
  var selectCategoryElement = document.getElementById('category').value;  
  var selectedItem = document.getElementById('items').value;
  
  // 獲取物品資訊（這裡是硬編碼的，實際上可能需要從後端或其他來源獲取）
  var itemInfo;
  if(selectCategoryElement == 'weapon') {
    itemInfo = weapons[selectedItem];
  }
  else if(selectCategoryElement == 'armor') {
    itemInfo = armors[selectedItem];
  }
  else if(selectCategoryElement == 'item') {
    itemInfo = items[selectedItem];
  }

  if(itemInfo.isCanAdd == false )
  {
    return;
  }

  // 創建一個新的表格行
  var newRow = document.createElement('tr');
  
  // 填充表格行的4個欄位
  var nameCell = document.createElement('td');
  nameCell.textContent = itemInfo.name;
  newRow.appendChild(nameCell);

  var priceCell = document.createElement('td');
  priceCell.textContent = itemInfo.price;
  newRow.appendChild(priceCell); 

  // 將新的表格行添加到表格中
  document.getElementById('itemTableBody').appendChild(newRow);
}

//填充武器資料
function addWeaponList() {
  var selectElement = document.getElementById('items');
  selectElement.innerHTML = '';
  for (var key in weapons) {
    if (weapons.hasOwnProperty(key)) {
      var option = document.createElement('option');
      option.value = key;
      option.text = weapons[key].name;
      selectElement.add(option);
    }
  }
}

//顯示單一武器資料
function showWeapon() {
  var key = document.getElementById('items').value;  
  document.getElementById("colName").textContent = weapons[key].name;
  document.getElementById("colPrice").textContent = weapons[key].price;
  document.getElementById("colHold").textContent = weapons[key].hold;
  document.getElementById("colbottom").textContent = weapons[key].description;
}



//填充盔甲資料
function addArmorList() {
  var selectElement = document.getElementById('items');
  selectElement.innerHTML = '';
  for (var key in armors) {
    if (armors.hasOwnProperty(key)) {
      var option = document.createElement('option');
      option.value = key;
      option.text = armors[key].name;
      selectElement.add(option);
    }
  }
}

//顯示單一盔甲資料
function showArmor() {
  var key = document.getElementById('items').value;  
  document.getElementById("colName").textContent = armors[key].name;
  document.getElementById("colPrice").textContent = armors[key].price;
  document.getElementById("colHold").textContent = armors[key].hold;
  document.getElementById("colbottom").textContent = armors[key].description;
}


//填充道具資料
function addItemsList() {
  var selectElement = document.getElementById('items');
  selectElement.innerHTML = '';
  for (var key in items) {
    if (items.hasOwnProperty(key)) {
      var option = document.createElement('option');
      option.value = key;
      option.text = items[key].name;
      selectElement.add(option);
    }
  }
}

//顯示單一道具資料
function showItem() {
  var key = document.getElementById('items').value;  
  document.getElementById("colName").textContent = items[key].name;
  document.getElementById("colPrice").textContent = items[key].price;
  document.getElementById("colHold").textContent = items[key].hold;
  document.getElementById("colbottom").textContent = items[key].description;
}


</script>