body {
    background-image: url("/assets/image/background.png");
    background-repeat: repeat;
}

/* Header
-------------------------------------------------------------- */
.gridmag-header-inside-content {
    padding: 10px;
}
.customer-gridmag-head-content {
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative !important;
    z-index: 98 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.gridmag-logo {
    margin: 5px 0px 5px 0px;
    float: left;
    width: 40%;
}
.gridmag-site-title {
    font: normal bold 24px "Playfair Display", Arial, Helvetica, sans-serif;
    margin: 0 0 15px 0 !important;
    line-height: 1 !important;
    color: #333333;
}
.gridmag-site-title a {
    color: #333333;
    text-decoration: none;
}
.gridmag-site-description {
    font: normal normal 13px Domine, Arial, Helvetica, sans-serif;
    line-height: 1 !important;
    color: #333333;
}

@media (max-width: 800px) {
    .gridmag-logo {
        margin: 5px 0px 5px 0px;
        float: left;
        width: 60%;
    }
  }

@media (max-width: 400px) {
    .gridmag-logo {
        margin: 5px 0px 5px 0px;
        float: left;
        width: 80%;
    }
  }

/* Container
-------------------------------------------------------------- */
.gridmag-grid-post {
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    border: 1.5px solid #ffffff;
}
.gridmag-grid-post-inside {
    position: relative;
    border: 1px solid #ffffff;
}
.gridmag-grid-post-sub {
    font: normal bold 14px "Playfair Display", Arial, Helvetica, sans-serif;
    color: #000000;
}
.gridmag-grid-post .gridmag-grid-post-title {
    font: normal bold 17px "Playfair Display", Arial, Helvetica, sans-serif;
    color: #000000 !important;
    margin: 0 0 0 0;
    line-height: 1;
    text-transform: none;
    text-align: center;
    letter-spacing: -0.5px;
    padding: 8px 5px;
    min-height: 50px;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none !important;
}
.gridmag-grid-post .gridmag-grid-post-title a {
    text-decoration: none;
    // color: #000000 !important;
  background-image: linear-gradient(#b52e31, #b52e31);
  background-position: center bottom;
  background-size: 0 2.5px;
  background-repeat: no-repeat;
  transition: background-size 0.15s linear;
}
.gridmag-grid-post .gridmag-grid-post-title a:hover,
.gridmag-grid-post .gridmag-grid-post-title a:focus {
    color: #000000;
    // text-decoration: underline !important;
    background-size: 100% 2.5px;
}

/* Layout
-------------------------------------------------------------- */
.gridmag-header-heading {
    font: normal normal 15px Oswald, Arial, Helvetica, sans-serif;
    line-height: 1;
    color: #000000;
    margin: 10px 4px 0 4px;
    padding: 20px 20px 0 20px;
    text-transform: uppercase;
    text-align: center;
    background: #e4e4e4;
    border: 1.5px solid #ffffff;
    overflow: hidden;
    letter-spacing: -0.2px;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none !important;;
}
.gridmag-header-heading-inside p {
    display: inline-block;
    font-size: 16px;
    color: red;
    align-items: center;
}
.gridmag-header-image-info {
    position: relative;
    left: 50%;
    top: 12.5%;
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
}
.gridmag-header-image-info .gridmag-site-title a,
.gridmag-site-description {
    color: #ffffff !important;
    font-size: 1.3em !important;
}

.gridmag-site-home-title a {
  color: #000000 !important;
  font-size: 1.5em !important;
  text-decoration: none;
}

/* Layout LeftMenu */
.gridmag-grid-post-left {
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    border: 2px solid #dddddd;
    background-color:rgba(255, 255, 255, 0.4);
}
.gridmag-grid-post-left-title {
    position: relative;
    padding: 7px 10px;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15) inset;
    border: 1.5px solid #ffffff;
    background-color: #e4e4e4;
    // font: normal normal 1.5em Domine, Arial, Helvetica, sans-serif;
}

/*導航按鈕變色*/
.navbar a:hover {
    background-color: #333333;
}
.nav-item a:hover {
    background-color: #333333;
}

/*客製化class*/
.wshadow {
    text-shadow: 0.1em 0.1em 0.05em #333 !important;
}

/*作者*/
.aboutme {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.aboutme:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*預設帖子的左側導覽框 screen表示桌面端*/
@media screen and (max-width: 1620px) {
    .anchor-menu {
        display:none;
    }
}

/*淡入淡出效果*/
@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
  }
/*左側導覽頁固定視窗*/
div .left-window {
    flex-direction: row;
    flex: 1 1 50%;
    max-width: 220px;
    background-color: #e4e4e4;
    opacity: .8;
    border: 1px solid #555;
    height: auto;
    max-height: 700px;
    margin-top: -162px;
    overflow-y:scroll;
    animation: fadein 0.5s ease;
}
div ul.category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: normal normal 0.7em Domine, Arial, Helvetica, sans-serif;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div ul.category li:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}

/*客製化水平線*/
div .title hr.titleinner {
    border: 3px solid red;
}
div .title span:before {
    padding-left:40%;
    position: relative;
    font: normal bold 2em "Playfair Display", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    content: "內文如下";
}

div .coustomcontenttitle hr.titleinner {
    border: 1px solid red;
}

/*客製化訪客水平線*/
div .titlemessage hr.titlemessageinner {
  border: 3px solid black;
}
div .titlemessage span:before {
  padding-left:40%;
  position: relative;
  font: normal bold 2em "Playfair Display", Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  content: "留言版 - 歡迎留言";
}

div .coustomcontenttitle span{
    padding-left:10%;
    position: relative;
    font: normal bold 0.8em "Playfair Display", Arial, Helvetica, sans-serif;
    // display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/*標題客製化*/

h1 {
    background-color: rgba(150, 40, 27, 0.3);
    border: 2px double   rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 1.8rem !important; 
}
  
h2 {
    background-color: rgba(150, 40, 27, 0.05);
    font-size: 1.5rem !important;
    line-height: 1.6 !important; 
    text-decoration: underline !important; 
}

/*強制所有文章的字型*/
p {
  font-family: serif,sans-serif,cursive,fantasy,monospace !important; 
  font-size: 1.3em !important;
  line-height: 1.6 !important;   
  letter-spacing:0.5px !important;   
}

/*預設文章摘要*/
div .summary {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: inherit; }

h1, .h1 { font-size: 2rem; }

h2, .h2 { font-size: 1.5rem; }

h3, .h3 { font-size: 1.35rem; }

h4, .h4 { font-size: 1.25rem; }

h5, .h5 { font-size: 1.15rem; }

h6, .h6 { font-size: 1rem; }

.Rem02 {font-size: 0.2rem }
.Rem03 {font-size: 0.3rem }
.Rem04 {font-size: 0.4rem }
.Rem05 {font-size: 0.5rem }
.Rem06 {font-size: 0.6rem }
.Rem07 {font-size: 0.7rem }
.Rem08 {font-size: 0.8rem }
.Rem09 {font-size: 0.9rem }


.MiniTitle { font-size: 0.80rem; color: red; font-weight:bold;}
.MiddleTitle { font-size: 1.15rem; color: red; font-weight:bold;}
.CutContext { 
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    text-decoration :none;
}

.jumpHyperLink a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  background-image: linear-gradient(#b52e31, #b52e31);
  background-position: center bottom;
  background-size: 0 2.5px;
  background-repeat: no-repeat;
  transition: background-size 0.15s linear;
}
.jumpHyperLink a:hover {
    background-color: rgba(192,192,192,0.2);
    color: #000000;
    font-style: italic;
    background-size: 100% 2.5px;
    
}

/* 左邊推廣用 */
.MicroFontSize { font-size: 1rem !important}
.HankPannel {
  display: block;
  padding: 0.5rem 1rem;
  color: #339966;
  text-decoration: none;
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* Nav */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: inherit;
  background-color: #00BAF0;
  background: linear-gradient(to left, #212529, #212529);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #6c757d;
  height: 50px;
  padding: 1em;
}

.top-nav a {
    color: #ffffff;
    background-size: 100% 2px;
}

.top-nav .menu .nav-item a {
    color: #6c757d;
    background-size: 100% 2px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 80px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*全域的圖片滑鼠移動過去時顯示原圖大小 */
img:hover{
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}

/*Table border */
.tableBlackBorder{
  border: 10px !important;
  border-color: rgb(252, 34, 34) !important;
}