<!DOCTYPE html>
<html>

<head>
  {% seo %}
  {% include common-head.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<script>
//渲染頁面資訊
document.addEventListener("DOMContentLoaded", function(){
    var div = document.getElementById('post_right_main');
    var createHtml = "";
    var excerptArray = [];
    var excerptDictionary = {};
    {% for post in site.posts %}
        excerptItem = '{{ post.excerpt }}';
        //Dictionary
        if(excerptArray.indexOf(excerptItem) === -1)
        {
          excerptArray.push(excerptItem);
          excerptDictionary[excerptItem] = undefined;        
        }
        //Contenxt
        var contextHtml =  ['<tr style="display: none;" name="' + excerptArray.indexOf(excerptItem) + '"> ',
                            '<td>{{ post.date | date: "%Y年%m月%d日" }}</td>', 
                            '<td class="jumpHyperLink"><a href="{{post.url}}">{{ post.title | strip_html |  truncatewords: 6 }}</a></td>',
                            '</tr>'].join("\n");
        if(excerptDictionary[excerptItem] === undefined)
        {
          excerptDictionary[excerptItem] = contextHtml;
        }
        else
        {
          excerptDictionary[excerptItem] += contextHtml;
        }
    {% endfor %};

    excerptArray.forEach(excerptItem =>{
        createHtml += [
            '<table class="table">',
                '<thead class="thead">',
                    '<tr>',
                      '<th scope="col" style="width:18%;">'+ excerptItem +'</th>',
                      '<th scope="col" style="width:82%;"><a href="javascript:void(0);" onclick="CollapseTableTr('+ excerptArray.indexOf(excerptItem) +')">展開/縮放</a></th>',
                    '</tr>',
                '</thead>',
                excerptDictionary[excerptItem],
            '</table>',
        ].join("\n");

    });
    div.innerHTML = createHtml;
});

//展開縮放Tr項目
function CollapseTableTr(trName)
{
    var trList = document.getElementsByName(trName);
    var useDisplayStyle = "";
    
    if(trList[0].style.display == "")
    {
        useDisplayStyle="none";
    }
    
    (trList).forEach(trItem => {
            trItem.style.display = useDisplayStyle;
    });
}
</script>

<body>
  {% include common-menu.html %}

  <!--固定視窗-->
  <div class="my-4"> 
  </div>
  <div class="container my-4">    
    <div class="row">
      <!-- 左側 -->
      <div></div>
      
      <!--右側-->
      <div id="container_right_menu" class="col-sm-11">
        <div class="gridmag-grid-post my-1">
          <h2 class="gridmag-grid-post-title">
            <a class="h2" href="javascript:void(0);" onclick="window.history.back()" rel="bookmark">{{ page.title }}</a>
          </h2>

        </div>
        <div id="post_right_main">
            {% for post in site.posts %}
      
            <!--此為Template 會被Js替換-->
            <table class="table">
                <thead class="thead">
                    <tr>
                      <th scope="col" style="width:18%;">2017</th>
                      <th scope="col" style="width:82%;"><a href="#" onclick="CollapseTableTr('a')">展開/縮放</a></th>
                    </tr>
                </thead>
                
                <tr name="a">
                    <td>{{ post.date | date: "%Y年%m月%d日" }}</td>
                    <td class="jumpHyperLink"><a href="{{post.url}}">{{ post.title | strip_html |  truncatewords: 6 }}</a></td>
                </tr>

            </table>

            {% endfor %}          
        </div>
      </div>

    </div>
  </div>
</body>

</html>
